# Amazon PA-API v5
AMAZON_PA_ACCESS_KEY=your_access_key_here
AMAZON_PA_SECRET_KEY=your_secret_key_here
AMAZON_PA_ASSOCIATE_TAG=skinscilab22-22
AMAZON_PA_REGION=jp

# Qoo10 Affiliate
QOO10_AFFILIATE_ID=your_affiliate_id_here
